@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ff4da6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-slate-900 antialiased;
  }
}

.glass-effect {
  @apply bg-white/80 backdrop-blur-md;
}
